@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 40% 98%;
    --foreground: 200 50% 20%;

    --muted: 180 40% 96.1%;
    --muted-foreground: 200 25% 46.9%;

    --popover: 180 40% 98%;
    --popover-foreground: 200 50% 20%;

    --card: 180 40% 98%;
    --card-foreground: 200 50% 20%;

    --border: 185 30% 90%;
    --input: 185 30% 90%;

    --primary: 190 70% 65%;
    --primary-foreground: 200 50% 98%;

    --secondary: 185 40% 92%;
    --secondary-foreground: 200 50% 20%;

    --accent: 185 40% 92%;
    --accent-foreground: 200 50% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 200 50% 98%;

    --ring: 190 70% 65%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 50% 10%;
    --foreground: 180 40% 98%;

    --muted: 195 35% 20%;
    --muted-foreground: 180 25% 70%;

    --popover: 200 50% 10%;
    --popover-foreground: 180 40% 98%;

    --card: 200 50% 10%;
    --card-foreground: 180 40% 98%;

    --border: 195 35% 20%;
    --input: 195 35% 20%;

    --primary: 190 70% 65%;
    --primary-foreground: 200 50% 10%;

    --secondary: 195 35% 20%;
    --secondary-foreground: 180 40% 98%;

    --accent: 195 35% 20%;
    --accent-foreground: 180 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 180 40% 98%;

    --ring: 190 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
